<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.syari.sim_pbb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu_activity.CekNopActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu_activity.DetailCekNopActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu_activity.CatatanPembayaranActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu_activity.BeritaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu_activity.FaqActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DashboardAdminActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu_admin_activity.BeritaAdminActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".menu_admin_activity.FaqAdminActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu_admin_activity.ChatAdminActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".adapter.AdapterCategoryFaq" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu_admin_activity.ConfigActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DashboardGuestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu_admin_activity.GantiLogoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu_admin_activity.SettingApiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu_activity.DetailBeritaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PengaturanLogo" />
        <activity
            android:name=".menu_activity.ChatRoomActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>